<% layout('/layouts/default.html', {title: '单项选择题管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(singleSelection.isNewRecord ? '新增单项选择题' : '编辑单项选择题')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${singleSelection}" action="${ctx}/single/singleSelection/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('title')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="title" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('a')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="a" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label class="control-label col-sm-4" title="">
									<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-8">
									<#form:input path="awrongReason" id="awrongreason" maxlength="255" class="form-control" onclick="wrongreasona()"/>
								</div>
							</div>
						</div>

						<iframe border="0" id="contenta" name="contenta"
								src="${ctx}/single/singleSelection/wrongreasona"
								frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
						</iframe>

						<div class="col-xs-6" style="display:none;">
							<div class="form-group"><!--
								<label class="control-label col-sm-4" title="">
									<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>-->
								<div class="col-sm-8">
									<#form:input path="awrongReasonId" id="awrongid" maxlength="255" class="form-control" type="hidden"/>
								</div>
							</div>
						</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('b')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="b" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bwrongReason" id="bwrongreason" maxlength="255" class="form-control" onclick="wrongreasonb()"/>
							</div>
						</div>
					</div>
					<iframe border="0" id="contentb" name="contentb"
							src="${ctx}/single/singleSelection/wrongreasonb"
							frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
					</iframe>
					<div class="col-xs-6">
						<div class="form-group" style="display:none;">
							<!--<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>-->
							<div class="col-sm-8">
								<#form:input path="bwrongReasonId" id="bwrongid" maxlength="255" class="form-control" type="hidden"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('c')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="c" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="cwrongReason" id="cwrongreason" maxlength="255" class="form-control" onclick="wrongreasonc()"/>
							</div>
						</div>
					</div>

					<iframe border="0" id="contentc" name="contentc"
							src="${ctx}/single/singleSelection/wrongreasonc"
							frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
					</iframe>

					<div class="col-xs-6" style="display:none;">
						<div class="form-group">
							<!--<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>-->
							<div class="col-sm-8">
								<#form:input path="cwrongReasonId" id="cwrongid" maxlength="255" class="form-control" type="hidden"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('d')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="d" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="dwrongReason" id="dwrongreason" maxlength="255" class="form-control" onclick="wrongreasond()"/>
							</div>
						</div>
					</div>
					<iframe border="0" id="contentd" name="contentd"
							src="${ctx}/single/singleSelection/wrongreasond"
							frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
					</iframe>
					<div class="col-xs-6" style="display:none;">
						<div class="form-group">
							<!--<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>-->
							<div class="col-sm-8">
								<#form:input path="dwrongReasonId" id="dwrongid" maxlength="255" class="form-control" type="hidden"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('answer')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="answer" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongReason" id="wrongreason" maxlength="255" class="form-control" onclick="wrongrea()"/>
							</div>
						</div>
					</div>
					<iframe border="0" id="content" name="content"
							src="${ctx}/single/singleSelection/wrongreason?type=''"
							frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
					</iframe>
					<div class="col-xs-6">
						<div class="form-group">
							<!--<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>-->
							<div class="col-sm-8">
								<#form:input path="wrongReasonId" id="wrongid" maxlength="255" class="form-control" type="hidden"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('remarks')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" bizKey="${singleSelection.id}" bizType="singleSelection_image"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('single:singleSelection:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<div>
<!--<iframe border="0" id="content3" name="content3"
		src="${ctx}/single/singleSelection/wrongreason?id='id'"
		frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%" align="middle">
</iframe>-->
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
function wrongreasona(){
	document.getElementById("contenta").style.display = "block";
}
function wrongreasonb(){
	document.getElementById("contentb").style.display = "block";
}
function wrongreasonc(){
	document.getElementById("contentc").style.display = "block";
}
function wrongreasond(){
	document.getElementById("contentd").style.display = "block";
}
function wrongrea(){
	document.getElementById("content").style.display = "block";
}
</script>