<% layout('/layouts/default.html', {title: 'wrong_reason管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('wrong_reason管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('wrong:wrongReason:edit')){ %>
					<a href="${ctx}/wrong/wrongReason/form" class="btn btn-default btnTool" title="${text('新增wrong_reason')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="fa-close (alias)" title="${text('关闭')}" onclick="closewrongreac()"> ${text('关闭')}</a>
			</div>
		</div>
		<div class="box-body" >
			<#form:form id="searchForm" model="${wrongReason}" action="${ctx}/wrong/wrongReason/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('wrong_title')}：</label>
					<div class="control-inline">
						<#form:input path="wrongTitle" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('wrong_reason')}：</label>
					<div class="control-inline">
						<#form:input path="wrongReason" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('status')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('remarks')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('id')}', name:'id', index:'a.id', width:150, align:"left"},
		{header:'${text('wrong_title')}', name:'wrongTitle', index:'a.wrong_title', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/wrong/wrongReason/form?id='+row.id+'" class="btnList" data-title="${text('编辑wrong_reason')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('wrong_reason')}', name:'wrongReason', index:'a.wrong_reason', width:150, align:"left"},
		{header:'${text('status')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('create_date')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('remarks')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('single:singleSelection:edit')){ %>
				return '<button type="button"  value="'+row+'" onclick="select(\''+row.wrongReason+'\',\''+row.id+'\')">选择</button>';
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
/*console.log(id);*/
function closewrongreac() {
	window.parent.document.getElementById("contentc").style.display = "none";
}
function select(wrongReason,wrongReasonid){
	if(!window.parent.document.getElementById("cwrongreason").value)
		window.parent.document.getElementById("cwrongreason").value+=wrongReason;
	else
		window.parent.document.getElementById("cwrongreason").value+=','+wrongReason;
	
	if(!window.parent.document.getElementById("cwrongid").value)
		window.parent.document.getElementById("cwrongid").value+=wrongReasonid;
	else
		window.parent.document.getElementById("cwrongid").value+=','+wrongReasonid;

	document.getElementById(wrongReasonid).style.display = "none";
}
</script>