<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<script src="${ctxStatic}/common/jquery.min.js?${_version}" charset="utf-8"></script>
<script>
    function create_paper()
    {
        var sinids = new Array;
        var mulids = new Array;
        $(window.frames["content1"].document)
            .find("input[name='sinid']:checked").each(function () {
            sinids.push($(this).val());
        });
        $(window.frames["content2"].document)
            .find("input[name='mulid']:checked").each(function () {
            mulids.push($(this).val());
        });
		var examName=document.getElementById("ptitle").value;
		if (examName!=null&&examName!=""){
			$.ajax({
				url:'${ctx}/createword/create/create',
				type:'post',
				async:false,
				data: {sinids:sinids,mulids:mulids},
				traditional: true,
				success: function (data) { //返回json结果
					alert(data);
				}
			});
		}else{
			alert("请填写试卷名称");
		}

    };
function save_paper()
{
    var sinids = new Array;
    var mulids = new Array;
    var remarks=" ";
    $(window.frames["content1"].document)
        .find("input[name='sinid']:checked").each(function () {
        sinids.push($(this).val());
    });
    $(window.frames["content2"].document)
        .find("input[name='mulid']:checked").each(function () {
        mulids.push($(this).val());
    });
	var examName=document.getElementById("ptitle").value;
	if (examName!=null&&examName!=""){
		$.ajax({
			url:'${ctx}/examination/examinationPaper/saveid',
			type:'post',
			async:false,
			data: {sinids:sinids,mulids:mulids,examName:examName},
			traditional: true,
			success: function (data) { //返回json结果
				alert(data);
			}
		});
	}else{
		alert("请填写试卷名称");
	}

};
</script>
</head>
<body>
<form>
<div>
    <div>请输入试卷名称</div>
    <input path="examName" maxlength="255" id="ptitle" class="form-control required"/>
</div>
<div>
    <input path="questionId" maxlength="255" class="form-control required" id="qid" style="display:none"/>
</div>
	<iframe border="0" id="content1" name="content1"
		src="${ctx}/createword/create/autosingle?selectsinids=${selectsinid}"
		frameborder="0" style="height: 600px" height="100%" width="100%">
	</iframe>
	<iframe border="0" id="content2" name="content2"
		src="${ctx}/createword/create/automultiple?selectsinids=${selectsinid}"
		frameborder="0" style="height: 600px" height="100%" width="100%">
	</iframe>
	<div>
		<input id="btnOperate" type="button" value="生成试卷" onclick="create_paper()" />
        <button type="button" class="btn btn-sm btn-primary" id="btnSubmit" onclick="save_paper()"><i class="fa fa-check"></i> ${text('保存试卷')}</button>&nbsp;
	</div>
</form>
</body>
</html>