<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title></title>
<script src="${ctxStatic}/common/jquery.min.js?${_version}" charset="utf-8"></script>
<script>        
function static_num() 
{            
    document.getElementById("btnOperate").onclick = function () {
    	var ids = new Array;
    	var str="";
        $(window.frames["content1"].document)
        .find("input[name='sinid']:checked").each(function () {
            ids.push($(this).val());
        }); 
        $(window.frames["content2"].document)
        .find("input[name='mulid']:checked").each(function () {
            ids.push($(this).val());
        });
        $.ajax({
			url:'http://localhost:8080/jeesite-demo/a/createword/create/create',
			type:'post',
			async:false,			
			data: {ids:ids},
			traditional: true,
			success: function (data) { //返回json结果				 
				alert(data);
			} 			
		});
        return;
    };        
};    
</script>
</head>
<body>

	<div>

	</div>
	<iframe border="0" id="content1" name="content1"
		src="http://localhost:8080/jeesite-demo/a/createword/create/single"
		frameborder="0" style="height: 600px" height="100%" width="100%">
	</iframe>
	<iframe border="0" id="content2" name="content2"
		src="http://localhost:8080/jeesite-demo/a/createword/create/multiple"
		frameborder="0" style="height: 600px" height="100%" width="100%">
	</iframe>
	<div>
		<input id="btnOperate" type="button" value="生成试卷" onclick="static_num()" />
		<input type="button" value="保存试卷">
	</div>
</body>
</html>