<% layout('/layouts/default.html', {title: '试卷管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('试卷管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('answer:answerPaper:edit')){ %>
					<a href="${ctx}/answer/answerPaper/form" class="btn btn-default btnTool" title="${text('新增试卷')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${answerPaper}" action="${ctx}/answer/answerPaper/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('试卷名称')}：</label>
					<div class="control-inline">
						<#form:input path="examName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户昵称')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('回答')}：</label>
					<div class="control-inline">
						<#form:input path="answer" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('标准答案')}：</label>
					<div class="control-inline">
						<#form:input path="modelAnswers" maxlength="100" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('是否正确')}：</label>
					<div class="control-inline width-120">
						<#form:select path="correct" dictType="sys_search_correct" blankOption="true" class="form-control"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('试卷状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="paperStatus" dictType="sys_paper_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('试卷名称')}', name:'examName', index:'a.exam_name', width:150, align:"left"},

		{header:'${text('用户昵称')}', name:'userName', index:'a.user_name', width:150, align:"left"},
		{header:'${text('备注')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
        {header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
        /*{header:'${text('是否正确')}', name:'correct', index:'a.correct', width:150, align:"left", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_correct')}, val, '${text('未知')}', true);
            }},*/
		{header:'${text('试卷状态')}', name:'paperStatus', index:'a.paper_status', width:150, align:"left", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_paper_status')}, val, '${text('未知')}', true);
            }},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('answer:answerPaper:edit')){ %>
				actions.push('<a href="${ctx}/answer/answerPaper/form?id='+row.id+'" class="btnList" title="${text('编辑试卷')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/answer/answerPaper/delete?id='+row.id+'" class="btnList" title="${text('删除试卷')}" data-confirm="${text('确认要删除该试卷吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
             if(row.paperStatus==0){
                actions.push( '<button><a href="${ctx}/answer/answerPaper/exam?examid='+row.examId+'&answerid='+row.id+'">开始考试</button>');
				 }
				if(row.paperStatus==1){
					actions.push( '<button><a href="${ctx}/answer/answerPaper/listAnswerData?id='+row.id+'">查看试卷</button>');
				}
				return actions.join('');
		}}

	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>