<% layout('/layouts/default.html', {title: '错题库管理', libs: ['validate']}){ %>
<link rel="stylesheet" type="text/css" href="${ctxStatic}/common/demo.css?${_version}">
<link href="${ctxStatic}/common/changebutton.css?${_version}" rel="stylesheet" type="text/css" />
<script src="${ctxStatic}/common/jquery.min.js?${_version}" type="text/javascript"></script>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(wrongSelection.isNewRecord ? '新增错题库' : '编辑错题库')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${wrongSelection}" action="${ctx}/wrongselect/wrongSelection/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								${text('错题题型选择')}：</label>
							<div class="col-sm-8">
								<li class="tg-list-item">
									<h4></h4>
									<input class="tgl tgl-flip" id="cb5" type="checkbox">
									<label class="tgl-btn" id="singlebutton" data-tg-off="单选" data-tg-on="多选" for="cb5" onclick="testbutton(this)"></label>
								</li>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('用户昵称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userName" id="username" maxlength="100" class="form-control required" onclick="user()"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('用户编码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userCode" id="userid" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group" id="singletitle">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('单选错题题目')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongSelect" id="sintitle" maxlength="255" class="form-control" onclick="singlelist()" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group" id="single">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('单选题号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8" >
								<#form:input path="wrongIdSin" id="sinid" maxlength="255" class="form-control" onclick="singlelist()"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-6">
						<div class="form-group" id="multipletitle" style="display:none">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('多选错题题目')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongSelect" style="disabled:false" id="multitle" maxlength="255" class="form-control" onclick="multiplelist()"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group" id="multiple" style="display:none">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('多选题号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongIdMul" id="mulid" maxlength="255" class="form-control" onclick="multiplelist()"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongReason" id="wrongreason" maxlength="255" class="form-control" onclick="wrongrea()"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误原因号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="wrongReasonId" id="wrongid" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('remarks')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('错误次数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="flag" maxlength="2" value="2" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('wrongselect:wrongSelection:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" onclick="deletepath()"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<iframe border="0" id="content1" name="content1"
		src="http://localhost:8080/jeesite-demo/a/wrongselect/wrongSelection/single"
		frameborder="0" style="height: 400px ;display:none " height="60%" width="65%">
</iframe>
<iframe border="0" id="content2" name="content2"
		src="http://localhost:8080/jeesite-demo/a/wrongselect/wrongSelection/multiple"
		frameborder="0" style="height: 400px ;display:none " height="60%" width="65%">
</iframe>
<iframe border="0" id="content3" name="content3"
		src="http://localhost:8080/jeesite-demo/a/wrongselect/wrongSelection/wrongreason"
		frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%">
</iframe>
<iframe border="0" id="content4" name="content4"
		src="http://localhost:8080/jeesite-demo/a/wrongselect/wrongSelection/listuser"
		frameborder="0" style="height: 400px  ;display:none  " height="60%" width="65%">
</iframe>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>

</script>
 <script type="text/javascript">
 function testbutton(obj) {
		if (obj.id == "singlebutton") {
			obj.id = "multiplebutton"
		 document.getElementById("sintitle").value="";
		 document.getElementById("sinid").value="";
		 document.getElementById("singletitle").style.display = "none";
         document.getElementById("single").style.display = "none";
         document.getElementById("multipletitle").style.display = "block";
         document.getElementById("multiple").style.display = "block";
         document.getElementById("content1").style.display = "none";
         document.getElementById("content2").style.display = "none";
         document.getElementById("content3").style.display = "none";
         document.getElementById("content4").style.display = "none";
			
		} else {
			obj.id = "singlebutton"
		 document.getElementById("multitle").value="";
		 document.getElementById("mulid").value="";
		 document.getElementById("singletitle").style.display = "block";
         document.getElementById("single").style.display = "block";
         document.getElementById("multipletitle").style.display = "none";               
         document.getElementById("multiple").style.display = "none";
         document.getElementById("content1").style.display = "none";
         document.getElementById("content2").style.display = "none";
         document.getElementById("content3").style.display = "none";
         document.getElementById("content4").style.display = "none";
		}				
	}
        function singlelist(){ 
        document.getElementById("content1").style.display = "block";
        document.getElementById("content2").style.display = "none";
        document.getElementById("content3").style.display = "none";
        document.getElementById("content4").style.display = "none";
        } 
        function multiplelist(){
        document.getElementById("content1").style.display = "none";
        document.getElementById("content2").style.display = "block";
        document.getElementById("content3").style.display = "none";
        document.getElementById("content4").style.display = "none";
        } 
        function wrongrea(){
        	document.getElementById("content3").style.display = "block";
        	document.getElementById("content1").style.display = "none";
            document.getElementById("content2").style.display = "none";
            document.getElementById("content4").style.display = "none";
        }
        function user(){
        	document.getElementById("content4").style.display = "block";
        	document.getElementById("content1").style.display = "none";
            document.getElementById("content2").style.display = "none";
            document.getElementById("content3").style.display = "none";
        }
        function deletepath(){
        	if(document.getElementById("sintitle"))
        		document.getElementById("multitle").remove();
        	if(document.getElementById("multitle"))
            	document.getElementById("sintitle").remove();
        }
    </script>