<% layout('/layouts/default.html', {title: 'school_date管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(schoolDate.isNewRecord ? '新增school_date' : '编辑school_date')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${schoolDate}" action="${ctx}/school/schoolDate/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('remarks')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('math_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mathGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('english_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="englishGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('chemical_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="chemicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('physical_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="physicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('biological_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="biologicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('history_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="historyGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('geographic_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="geographicGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('political_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="politicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('stuid')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="stuid" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('chinese_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="chineseGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('chemical_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="chemicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('physical_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="physicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('biological_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="biologicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('history_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="historyGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('geographic_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="geographicGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('political_grade')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="politicalGrade" maxlength="255" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('school:schoolDate:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>