<% layout('/layouts/default.html', {title: 'school_date管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('school_date管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('school:schoolDate:edit')){ %>
					<a href="${ctx}/school/schoolDate/form" class="btn btn-default btnTool" title="${text('新增school_date')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${schoolDate}" action="${ctx}/school/schoolDate/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('user_code')}：</label>
					<div class="control-inline">
						<#form:input path="userCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('学年')}：</label>
					<div class="control-inline">
						<#form:input path="schoolYear" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('考试名称')}：</label>
					<div class="control-inline">
						<#form:input path="examName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('remarks')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('语文')}：</label>
					<div class="control-inline">
						<#form:input path="chineseScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数学')}：</label>
					<div class="control-inline">
						<#form:input path="mathScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('英语')}：</label>
					<div class="control-inline">
						<#form:input path="englishScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('化学')}：</label>
					<div class="control-inline">
						<#form:input path="chemicalScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('物理')}：</label>
					<div class="control-inline">
						<#form:input path="physicalScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('生物')}：</label>
					<div class="control-inline">
						<#form:input path="biologicalScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('历史')}：</label>
					<div class="control-inline">
						<#form:input path="historyScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('地理')}：</label>
					<div class="control-inline">
						<#form:input path="geographicScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('政治')}：</label>
					<div class="control-inline">
						<#form:input path="politicalScore" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('order_flag')}：</label>
					<div class="control-inline">
						<#form:input path="orderFlag" maxlength="5" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('考试名称')}', name:'examName', index:'a.exam_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/school/schoolDate/form?id='+row.id+'" class="btnList" data-title="${text('编辑school_date')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('学年')}', name:'schoolYear', index:'a.school_year', width:150, align:"left"},
		/*{header:'${text('考试名称')}', name:'examName', index:'a.exam_name', width:150, align:"left"},*/
		{header:'${text('user_code')}', name:'userCode', index:'a.user_code', width:150, align:"left"},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('create_date')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('remarks')}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		/*{header:'${text('语文')}', name:'chineseScore', index:'a.chinese_score', width:150, align:"center"},
		{header:'${text('数学')}', name:'mathScore', index:'a.math_score', width:150, align:"center"},
		{header:'${text('英语')}', name:'englishScore', index:'a.english_score', width:150, align:"center"},
		{header:'${text('化学')}', name:'chemicalScore', index:'a.chemical_score', width:150, align:"center"},
		{header:'${text('物理')}', name:'physicalScore', index:'a.physical_score', width:150, align:"center"},
		{header:'${text('生物')}', name:'biologicalScore', index:'a.biological_score', width:150, align:"center"},
		{header:'${text('历史')}', name:'historyScore', index:'a.history_score', width:150, align:"center"},
		{header:'${text('地理')}', name:'geographicScore', index:'a.geographic_score', width:150, align:"center"},
		{header:'${text('政治')}', name:'politicalScore', index:'a.political_score', width:150, align:"center"},
		{header:'${text('order_flag')}', name:'orderFlag', index:'a.order_flag', width:150, align:"center"},
*/		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('school:schoolDate:edit')){ %>
				actions.push('<a href="${ctx}/school/schoolDate/form?id='+row.id+'" class="btnList" title="${text('编辑school_date')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/school/schoolDate/delete?id='+row.id+'" class="btnList" title="${text('删除school_date')}" data-confirm="${text('确认要删除该school_date吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>