<!DOCTYPE HTML>
<% layout('/layouts/default.html', {title: '测试数据管理', libs: ['validate','dataGrid']}){ %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>在线答题考试系统</title>
	<link href="${ctxStatic}/common/main.css?${_version}" rel="stylesheet" type="text/css" />
	<link href="${ctxStatic}/common/iconfont.css?${_version}" rel="stylesheet" type="text/css" />
	<link href="${ctxStatic}/common/test.css?${_version}" rel="stylesheet" type="text/css" />
	<script src="${ctxStatic}/common/jquery.min.js?${_version}" type="text/javascript"></script>
	<style>
		.hasBeenAnswer {
			background: #5d9cec;
			color:#fff;
		}
	</style>

</head>
<script src="${ctxStatic}/common/jquery.easy-pie-chart.js?${_version}"></script>
<script src="${ctxStatic}/common/daan.js?${_version}"></script>
<!--<script src="${ctxStatic}/common/examdanxuan.js?${_version}"></script>
<script src="${ctxStatic}/common/examduoxuan.js?${_version}"></script>-->
<script type="text/javascript" src="${ctxStatic}/common/myLayer.js?${_version}"></script>
<body>

<div class="main">
	<!--nr start-->
	<div class="test_main">
		<div class="nr_left">
			<div class="test">
				<!--${ctx}/answer/answerPaper/savepaper-->
				<!--${ctx}/wrongselect/wrongSelection/pluralsave-->
				<#form:form action="" method="post" id="confirm-form">

					<!-------------------------------------------------------------------------------------->
					<div class="test_content">
						<div class="test_content_title">
							<h2>单选题</h2>
						</div>
					</div>
					<%
					for(sin in single){
					%>
					<div class="test_content_nr">
						<ul>
							<li>
								<%if(sin.correct == "0"){%>
								<div class="test_content_nr_tt">
									<font color="red">${sin.title}</font>
								</div>
								<%}%>
								<%if(sin.correct == "1"){%>
								<div class="test_content_nr_tt">
									<font>${sin.title}</font>
								</div>
								<%}%>
								<div class="test_content_nr_main" name="answer">
									<ul>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="A" id="${sin.id}"/>A.${sin.A}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="B" id="${sin.id}"/>B.${sin.B}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio class="radioOrCheck" name="${sin.id}" value="C" id="${sin.id}"/>C.${sin.C}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="D" id="${sin.id}"/>D.${sin.D}
											</li>
										</label></br>
										<%if(sin.correct == "0"){%>
										<font color="red">你的选择是:${sin.answer}</font></br>
										<font color="red">正确答案是:${sin.modelAnswers}</font></br>
										<font color="red">请添加错误原因:</font>
										<!--<input path="wrongReason" id="${sin.id}wrongreason" maxlength="100" class="form-control" onclick="wrongreasonList(id,"${sin.id}wrongid")">
										<input path="wrongReasonId" id="${sin.id}wrongid" maxlength="255" class="form-control"/>-->
										<div class="${sin.id}">
										<#form:input id="${sin.id}" path="userName" name="userName" value="${userName}" maxlength="100" class="form-control required "/>
										<#form:input id="${sin.id}" path="userCode" name="userCode" value="${paperSelections[0].userCode}" maxlength="100" class="form-control required "/>
										<#form:input id="${sin.id}" path="wrongIdSin" name="wrongIdSin" value="${sin.id}" maxlength="100" class="form-control required "/>
										<#form:input id="${sin.id}" path="wrongSelect" name="wrongSelect" value="${sin.title}" maxlength="100" class="form-control required "/>
										<#form:listselect id="${sin.id}" name="wrongReasonId" class="${sin.id}" title="错误原因"  path="wrongReasonId" name="wrongReasonId"
										url="${ctx}/wrongselect/wrongSelection/confirmWrongreason" allowClear="false" name="wrongReasonId"
										checkbox="false" itemCode="id" itemName="wrongReason" value="sinwrongReason"/>
										</div>
										<%}%>
										<%if(sin.correct == "1"){%>
											<font>你的选择是:${sin.answer}</font></br>
											<font>正确答案是:${sin.modelAnswers}</font>
										<%}%>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<% } %>
					<!-------------------------------------------------------------------------------------->
					<div class="test_content">
						<div class="test_content_title">
							<h2>多选题</h2>
						</div>
					</div>
					<%
					for(mul in multiple){
					%>
					<div class="test_content_nr">
						<ul>
							<li>
								<%if(mul.correct == "0"){%>
								<div class="test_content_nr_tt">
									<font color="red">${mul.title}</font>
								</div>
								<%}%>
								<%if(mul.correct == "1"){%>
								<div class="test_content_nr_tt">
									<font>${mul.title}</font>
								</div>
								<%}%>
								<div class="test_content_nr_main">
									<ul>

										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="A" id="${mul.id}"/>A.${mul.A}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="B" id="${mul.id}"/>B.${mul.B}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="C" id="${mul.id}"/>C.${mul.C}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="D" id="${mul.id}"/>D.${mul.D}
											</li>
										</label></br>
										<%if(mul.correct == "0"){%>
										<font color="red">你的选择是:${mul.answer}</font></br>
										<font color="red">正确答案是:${mul.modelAnswers}</font></br>
										<font color="red">请添加错误原因:</font>
										<#form:input id="${mul.id}" path="userName" name="userName" value="${userName}" maxlength="100" class="form-control required "/>
										<#form:input id="${mul.id}" path="userCode" name="userCode" value="${paperSelections[0].userCode}" maxlength="100" class="form-control required "/>
										<#form:input id="${mul.id}" path="wrongIdMul" name="wrongIdMul" value="${mul.id}" maxlength="100" class="form-control required "/>
										<#form:input id="${mul.id}" path="wrongSelect" name="wrongSelect" value="${mul.title}" maxlength="100" class="form-control required "/>
                                        <#form:listselect id="${mul.id}" title="错误原因"  path="wrongReasonId" name="wrongReasonId"
                                        url="${ctx}/wrongselect/wrongSelection/confirmWrongreason" allowClear="false"
                                        checkbox="false" itemCode="id" itemName="wrongReason"/>
                                        <%}%>
										<%if(mul.correct == "1"){%>
										<font>你的选择是:${mul.answer}</font></br>
										<font>正确答案是:${mul.modelAnswers}</font>
										<%}%>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<% } %>
					<!--nr end-->
					<div class="foot">
						<!--<div class="test_title">
							<font><input type="button" id="btnSave" name="test_jiaojuan" value="交卷"></font>
						</div>-->
						<button type="button" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					</div>
				</#form:form>
			</div>

		</div>

	</div>


</div>
<% } %>
<script>

	function confirmpaper() {
		var userCode='${paperSelections[0].userCode}';
	}
	$('#btnSubmit').click(function () {
		var reqdata = new Array();
		var answer = new Array();
		var sinQuestionId = '-1';
		$("#confirm-form").find(":text").each(function(){
			var value = $(this).val();
			var itemcode = this.id;
			console.log(itemcode+'+++itemcode');
			console.log(value+'+++value');
			if ((sinQuestionId == '-1' || sinQuestionId == this.id)&&this.name=='userName') {
				answer.push(value)
				console.log(value+'+++aaa');
			}
			else if ((sinQuestionId == '-1' || sinQuestionId == this.id)&&this.name=='userCode') {
				answer.push(value)
				console.log(value+'+++bbb');
			}
			else if ((sinQuestionId == '-1' || sinQuestionId == this.id)&&this.name=='wrongIdSin') {
				answer.push(value)
				console.log(value+'+++ccc');
			}
			else if ((sinQuestionId == '-1' || sinQuestionId == this.id)&&this.name=='wrongSelect') {
				answer.push(value)
				console.log(value+'+++ddd');
			}
			else if ((sinQuestionId == '-1' || sinQuestionId == this.id+'Name')&&this.name=='wrongReasonId') {
				//answer.push(itemcode)
				//answer.push(value);
                console.log('+++eee');
				console.log(value+'+++eee');
				console.log(itemcode+'+++eee');
			}
			else{
				reqdata.push(answer);
			}
			/*sinQuestionId=this.id;*/
		});
		/*var data = {
			sinQuestionId: sinQuestionId,
			answer:answer
		};*/
		/*reqdata.push(answer);*/
		console.log(reqdata);
		/*$.ajax({
			url: '${ctx}/answer/answerPaper/savepaper?paperId='+paperId+'&answerPaperid='+answerPaperid
			,data: JSON.stringify(reqdata)
			,dataType: 'json'
			,contentType: 'application/json'
			,type: 'post'
			,success: function (result) {
				return result;
			}

		});*/
	});
</script>


</body>
</html>
