<!DOCTYPE HTML>
<% layout('/layouts/default.html', {title: '测试数据管理', libs: ['validate','dataGrid']}){ %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
	<meta http-equiv="content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>在线答题考试系统</title>
	<link href="${ctxStatic}/common/main.css?${_version}" rel="stylesheet" type="text/css" />
	<link href="${ctxStatic}/common/iconfont.css?${_version}" rel="stylesheet" type="text/css" />
	<link href="${ctxStatic}/common/test.css?${_version}" rel="stylesheet" type="text/css" />
	<script src="${ctxStatic}/common/jquery.min.js?${_version}" type="text/javascript"></script>
	<style>
		.hasBeenAnswer {
			background: #5d9cec;
			color:#fff;
		}
	</style>

</head>
<script src="${ctxStatic}/common/jquery.easy-pie-chart.js?${_version}"></script>
<script src="${ctxStatic}/common/daan.js?${_version}"></script>
<!--<script src="${ctxStatic}/common/examdanxuan.js?${_version}"></script>
<script src="${ctxStatic}/common/examduoxuan.js?${_version}"></script>-->
<script type="text/javascript" src="${ctxStatic}/common/myLayer.js?${_version}"></script>
<body>

<div class="main">
	<!--nr start-->
	<div class="test_main">
		<div class="nr_left">
			<div class="test">
				<!--${ctx}/answer/answerPaper/savepaper-->
				<#form:form action="${ctx}/wrongselect/wrongSelection/pluralsave" method="post" id="confirm-form">

					<!-------------------------------------------------------------------------------------->
					<div class="test_content">
						<div class="test_content_title">
							<h2>单选题</h2>
						</div>
					</div>
					<%
					for(sin in single){
					%>
					<div class="test_content_nr">
						<ul>
							<li>
								<%if(sin.correct == "0"){%>
								<div class="test_content_nr_tt">
									<font color="red">${sin.title}</font>
								</div>
								<%}%>
								<%if(sin.correct == "1"){%>
								<div class="test_content_nr_tt">
									<font>${sin.title}</font>
								</div>
								<%}%>
								<div class="test_content_nr_main" name="answer">
									<ul>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="A" id="${sin.id}"/>A.${sin.A}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="B" id="${sin.id}"/>B.${sin.B}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio class="radioOrCheck" name="${sin.id}" value="C" id="${sin.id}"/>C.${sin.C}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:radio  class="radioOrCheck" name="${sin.id}" value="D" id="${sin.id}"/>D.${sin.D}
											</li>
										</label></br>
										<%if(sin.correct == "0"){%>
										<font color="red">你的选择是:${sin.answer}</font></br>
										<font color="red">正确答案是:${sin.modelAnswers}</font></br>
										<font color="red">请确认错误原因:</font>${sin.wrongReason}
										<!--<input path="wrongReason" id="${sin.id}wrongreason" maxlength="100" class="form-control" onclick="wrongreasonList(id,"${sin.id}wrongid")">
										<input path="wrongReasonId" id="${sin.id}wrongid" maxlength="255" class="form-control"/>-->
										<#form:input id="${sin.id}" path="userName" name="userName" value="${userName}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${sin.id}" path="userCode" name="userCode" value="${paperSelections[0].userCode}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${sin.id}" path="wrongIdSin" name="wrongIdSin" value="${sin.id}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${sin.id}" path="wrongSelect" name="wrongSelect" value="${sin.title}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${sin.id}" path="wrongReasonId" name="wrongReasonId" value="${sin.wrongReasonId}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${sin.id}" path="wrongReason" name="wrongReason" value="${sin.wrongReason}" maxlength="100" class="form-control required " style="display:none"/>
										<%}%>
										<%if(sin.correct == "1"){%>
											<font>你的选择是:${sin.answer}</font></br>
											<font>正确答案是:${sin.modelAnswers}</font>
										<%}%>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<% } %>
					<!-------------------------------------------------------------------------------------->
					<div class="test_content">
						<div class="test_content_title">
							<h2>多选题</h2>
						</div>
					</div>
					<%
					for(mul in multiple){
					%>
					<div class="test_content_nr">
						<ul>
							<li>
								<%if(mul.correct == "0"){%>
								<div class="test_content_nr_tt">
									<font color="red">${mul.title}</font>
								</div>
								<%}%>
								<%if(mul.correct == "1"){%>
								<div class="test_content_nr_tt">
									<font>${mul.title}</font>
								</div>
								<%}%>
								<div class="test_content_nr_main">
									<ul>

										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="A" id="${mul.id}"/>A.${mul.A}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="B" id="${mul.id}"/>B.${mul.B}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="C" id="${mul.id}"/>C.${mul.C}
											</li>
										</label></br>
										<label>
											<li class="option">
												<#form:checkbox class="radioOrCheck" name="${mul.id}" value="D" id="${mul.id}"/>D.${mul.D}
											</li>
										</label></br>
										<%if(mul.correct == "0"){%>
										<font color="red">你的选择是:${mul.answer}</font></br>
										<font color="red">正确答案是:${mul.modelAnswers}</font></br>
										<font color="red">请确认错误原因:</font>${mul.wrongReason}
                                        <#form:input id="${mul.id}" path="userName" name="userName" value="${userName}" maxlength="100" class="form-control required " style="display:none"/>
                                        <#form:input id="${mul.id}" path="userCode" name="userCode" value="${paperSelections[0].userCode}" maxlength="100" class="form-control required " style="display:none"/>
                                        <#form:input id="${mul.id}" path="wrongIdMul" name="wrongIdMul" value="${mul.id}" maxlength="100" class="form-control required " style="display:none"/>
                                        <#form:input id="${mul.id}" path="wrongSelect" name="wrongSelect" value="${mul.title}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${mul.id}" path="wrongReasonId" name="wrongReasonId" value="${mul.wrongReasonId}" maxlength="100" class="form-control required " style="display:none"/>
										<#form:input id="${mul.id}" path="wrongReason" name="wrongReason" value="${mul.wrongReason}" maxlength="100" class="form-control required " style="display:none"/>
										<!--<#form:input  path="wrongSelect" name="wrongSelect" value="${mul.title}" maxlength="100" class="form-control required "/>-->
										<%}%>
										<%if(mul.correct == "1"){%>
										<font>你的选择是:${mul.answer}</font></br>
										<font>正确答案是:${mul.modelAnswers}</font>
										<%}%>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<% } %>
					<!--nr end-->
				<div class="foot">
				<%if(paperstatus == "1"){%>
						<button type="button" class="btn btn-sm btn-primary" id="btnSubmit" onclick="history.go(-1);"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
				<% } %>
					<button type="button" class="btn btn-info btn-sm" onclick="history.go(-1);"><!--<i class="fa fa-reply-all">--></i> 返回</button>
				</div>
				</#form:form>
			</div>

		</div>

	</div>


</div>
<% } %>
<script>



	$('#btnSubmit').click(function () {
		/*var userCode='${paperSelections[0].userCode}';*/
		var paperId='${paperSelections[0].paperId}';
		var reqdata = new Array();
		var userName;
		var userCode;
		var wrongIdSin;
		var wrongSelect;
		var wrongReasonId;
		var wrongReason;
		var wrongIdMul;
		var QuestionId = '-1';
		var mulQuestionId = '-1';
		var i=1;
		$("#confirm-form").find(":text").each(function(){
			var value = $(this).val();
			if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='userName') {
				userName=value;
			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='userCode') {
				userCode=value;
			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='wrongIdSin') {
				wrongIdSin=value;
			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='wrongIdMul') {
				wrongIdMul=value;

			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='wrongSelect') {
				wrongSelect=value;
			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='wrongReasonId') {
				wrongReasonId=value;
			}
			else if ((QuestionId == '-1' || QuestionId == this.id)&&this.name=='wrongReason') {
				wrongReason=value;
			}
			else if (QuestionId != '-1' || QuestionId != this.id){
				var mid=wrongReasonId.split(",")
				var midname=wrongReason.split(",")
				for (var i=0;i<mid.length;i++){
					var data = {
						userName: userName,
						userCode: userCode,
						wrongIdSin: wrongIdSin,
						wrongIdMul: wrongIdMul,
						wrongSelect: wrongSelect,
						wrongReasonId: mid[i],
						wrongReason: midname[i],
					};
					reqdata.push(data);
				}

				wrongIdSin="";
				wrongIdMul="";
			}

			QuestionId=this.id;
		});
		var mid=wrongReasonId.split(",")
		var midname=wrongReason.split(",")
		for (var i=0;i<mid.length;i++){
			var data = {
				userName: userName,
				userCode: userCode,
				wrongIdSin: wrongIdSin,
				wrongIdMul: wrongIdMul,
				wrongSelect: wrongSelect,
				wrongReasonId: mid[i],
				wrongReason: midname[i],
			};
			reqdata.push(data);
		}
		 //console.log(reqdata);
		$.ajax({
			url: '${ctx}/wrongselect/wrongSelection/pluralsave?paperId='+paperId+''
			,data: JSON.stringify(reqdata)
			,dataType: 'text'
			,contentType: 'application/json'
			,type: 'post'
			,success: function (result) {
				alert(result);
				history.go(-1);
			}

		});

	});
</script>


</body>
</html>
