<% layout('/layouts/default.html', {title: '用户管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-user"></i> ${text('选择学生')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${empUser}" action="${ctx}/sys/empUser/listData" method="post" class="form-inline "
			data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<#form:hidden name="ctrlPermi" value="2"/>
			<div class="form-group">
				<label class="control-label">${text('账号')}：</label>
				<div class="control-inline">
					<#form:input path="loginCode" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('昵称')}：</label>
				<div class="control-inline">
					<#form:input path="userName" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('邮箱')}：</label>
				<div class="control-inline">
					<#form:input path="email" maxlength="300" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('手机')}：</label>
				<div class="control-inline">
					<#form:input path="mobile" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('电话')}：</label>
				<div class="control-inline">
					<#form:input path="phone" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-row"></div>
			<div class="form-group">
				<label class="control-label">${text('姓名')}：</label>
				<div class="control-inline">
					<#form:input path="refName" maxlength="100" class="form-control width-90"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('机构')}：</label>
				<div class="control-inline width-90">
					<#form:treeselect id="office" title="${text('机构选择')}"
					path="employee.office.officeCode" labelPath="employee.office.officeName"
					url="${ctx}/sys/office/treeData?ctrlPermi=2" btnClass="btn-sm" allowClear="true" canSelectParent="true"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('公司')}：</label>
				<div class="control-inline width-90">
					<#form:treeselect id="company" title="${text('公司选择')}"
					path="employee.company.companyCode" labelPath="employee.company.companyName"
					url="${ctx}/sys/company/treeData?ctrlPermi=2" btnClass="btn-sm" allowClear="true" canSelectParent="true"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">${text('状态')}：</label>
				<div class="control-inline width-90">
					<#form:select path="status" dictType="sys_user_status" blankOption="true" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
	</div>
</div>
</div>
<% } %>

<script>
    var examid ='${examinationPaper.id}';
    var examname='${examinationPaper.examName}';
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        searchForm: $("#searchForm"),
        columnModel: [
            {header:'${text('登录账号')}', name:'loginCode', index:'a.login_code', width:200, align:"center", frozen:true},
            {header:'${text('用户昵称')}', name:'userName', index:'a.user_name', width:200, align:"center"},
            {header:'${text('员工姓名')}', name:'refName', index:'a.ref_name', width:200, align:"center"},
            {header:'${text('归属机构')}', name:'employee.office.officeName', index:'o.office_name', width:200, align:"center"},
            {header:'${text('归属公司')}', name:'employee.company.companyName', index:'c.company_name', width:200, align:"center"},
            {header:'${text('电子邮箱')}', name:'email', index:'a.email', width:200, align:"center"},
            {header:'${text('手机号码')}', name:'mobile', index:'a.mobile', width:200, align:"center"},
            {header:'${text('办公电话')}', name:'phone', index:'a.phone', width:200, align:"center"},
            {header:'${text('更新时间')}', name:'updateDate', index:'a.update_date', width:200, align:"center"},
            {header:'${text('状态')}', name:'status', index:'a.status', width:140, align:"center", formatter: function(val, obj, row, act){
                    return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知', true);
                }},
            {header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
                    var actions = [];
                <% if(hasPermi('single:singleSelection:edit')){ %>
                        return '<a  href="${ctx}/examination/examinationPaper/send?usercode='+row.userCode+'&username='+row.userName+'&examid='+examid+'&examName='+examname+'">发送</button>';
                    <% } %>
                    return actions.join('');
                }}
        ],
        // 加载成功后执行事件
        ajaxSuccess: function(data){

        }
    });
    function SetCookie(cookieName, cookieValue, nDays) {
        /*当前日期*/
        var today = new Date();
        /*Cookie过期时间*/
        var expire = new Date();
        /*如果未设置nDays参数或者nDays为0，取默认值1*/
        if (nDays == null || nDays == 0) nDays = 1;
        /*计算Cookie过期时间*/
        expire.setTime(today.getTime() + 3600000 * 24 * nDays);
        /*设置Cookie值*/
        document.cookie = cookieName + "=" + escape(cookieValue) +
            ";expires=" + expire.toGMTString();
    }

    $('#btnExport').click(function(){
        js.ajaxSubmitForm($('#searchForm'), {
            url:'${ctx}/sys/empUser/exportData',
            downloadFile:true
        });
    });

</script>
